@import '~bootswatch/dist/sketchy/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/sketchy/bootswatch';

html {
  min-height: 100vh;
}

body {
  height: 100vh;
}

.removeOutline {
  &:focus {
    outline: none;
  }
}
