@import '~bootswatch/dist/materia/variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootswatch/dist/materia/bootswatch';

html {
  //min-height: 100vh;
}

body {
  //height: 100vh;
}

.removeOutline {
  &:focus,
  &:active {
    outline: none;
  }
}

.removeTextDecoration,
.removeTextDecoration:hover,
.removeTextDecoration:active {
  text-decoration: none;
}

.addTextDecoration,
.addTextDecoration:hover,
.addTextDecoration:active {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.withBorder {
  border: 2px solid black;
}
