$myGrey-100: #1f262d !default;
$myGrey-300: #29323b !default;
$myGrey-500: #71787e !default;
$myGrey-700: #999ea3 !default;

$myWhite: #f5f4f6 !default;

$myGreen: #73b664 !default;

$myBlue: #7092ff !default;

$myRed: #b66372 !default;
